<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="http://34.128.104.172:8889/socket.io/socket.io.js"></script>
    <script defer src="clientside.js"></script>
    <title>BingleShop | Chatroom</title>
</head>
<body>
    <div id="roomContainer">
        <% if(role == 'user') { %>
            <u> Admin List </u>
            <ol>
            <% Object.entries(rooms).forEach( room => { %>
                <li>
                    <span class="roomAdmin"> <%= room[1].name %> </span> 
                    <a href="/api/chat/<%= room[0] %>?role=user&id=<%= userId %>" class="chatAdmin"> Join </a>
                </li>
            <% }) %>
            </ol>
        <% } else if(role == 'admin') { %>
            <u> Inbox List </u>
            <ol id="inboxList">
                <!-- <li>
                    <span>  </span> 
                    <a href="#"> Join </a>
                </li> -->
            </ol>
        <% } %>
    </div>
</body>
</html>